body {
	font-family: Arial, sans-serif;
	margin-left: 2%;
	margin-right: 2%;
	font-size:14pt;
	line-height:1.4;
	width: 58%;
}

/* Hyperlink Related CSS*/
a:link {
  color:  #2980b9 ;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:  #2980b9 ;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #2980b9 ;
  background-color: transparent;
  border-bottom: 1px dotted #000;
  text-decoration: none;
}

a:active {
  color: #2980b9 ;
  background-color: transparent;
  text-decoration: underline;
}
/* END Hyperlink Related CSS*/

.dark-mode {
	background-color: black;
	color: #D3D3D3;
}

p {
	margin-left: 5%;
	width:100%;
	text-align:justify;
}

#posttitle{
	font-weight:bold;
	font-size:18pt;
}

#post-category {
	font-weight:normal;
	font-family:monospace;
	font-size:11pt;
	color:gray;
}

/* noprint classes will not be printed */
@media print
{
	.noprint{visibility: hidden;}
}
